@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: rgb(247, 205, 177);
}

header {
    background-color: rgb(141, 69, 35);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    color: white;
    padding: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    /* border: 1px dotted black; */
    
}

header > nav {
   /* border: 1px dotted black; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  

}


header > nav > a {
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(243, 191, 122);
    border-radius: 5px;
    color: rgb(141, 69, 35);
    margin: 5px;
    padding: 10px;
   align-content: center;
    


}

header a:hover {
    background-color: bisque;
}

header > nav > a:active {
    background-color: chocolate;
    color: white;

}

main {
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    width: 70vw;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    
  }

main h2 {
    padding: 10px;
}

main p {
    line-height: 30px;
    
}

